
body {
    background-color: #222;
    background-image: url('darknoise.png');
    color: #fff;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 0 #000;
    font-weight: bold;
    --c1: #a21;
    --space: 0.7em;
    --shadow: 0 0 0.2em #000;
}

.center {
    width: 640px;
    margin: 2em auto;
}

#videoblock {
    position: relative;
    background-color: var(--c1);
    height: 360px;
    line-height: 360px;
    text-align: center;
    margin-bottom: var(--space);
    box-shadow: var(--shadow);
    overflow: hidden;
}

#loader {
    visibility: hidden;
    vertical-align: -1em;
}

video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* video background color is not easily changed */
}

.inputline {
    margin-bottom: var(--space);
    height: 2em;
    line-height: 2em;
    text-align: center;
    box-shadow: var(--shadow);
}

.inputline > * {
    display: block;
    position: absolute;
    border: none;
    padding: 0;
}

.inputline > label {
    background-color: var(--c1);
    width: 140px;
}

.inputline > input {
    line-height: inherit;
    text-align: inherit;
    margin-left: 140px;
    width: 500px;
    background-color: #333;
    color: inherit;
    font-size: 0.8em;
    font-family: inherit;
}

.buttonline {
    text-align: center;
}

.buttonline > button {
    display: inline-block;
    border: none;
    height: 2em;
    font: inherit;
    text-shadow: inherit;
    background-color: var(--c1);
    color: inherit;
    box-shadow: var(--shadow);
    cursor: pointer;
}

/* remove ff outlines */
::-moz-focus-inner {
    border: 0;
}

/* subtitles - full support only in chrome */
video::cue {
   color: #fff;
   text-shadow: /* emulate text outline */
        -0.08em -0.08em  0.04em  #000,
        -0.08em  0.00em  0.04em  #000,
        -0.08em  0.08em  0.04em  #000,
         0.00em -0.08em  0.04em  #000,
         0.00em  0.00em  0.04em  #000,
         0.00em  0.08em  0.04em  #000,
         0.08em -0.08em  0.04em  #000,
         0.08em  0.00em  0.04em  #000,
         0.08em  0.08em  0.04em  #000;
   background-color: transparent;
   font-size: 120%;
}
